*{
    box-sizing: border-box;
    font-family: broadacre-regular-1, sans-serif;
    font-weight: 100;
    font-style: normal;
}
nav{

    color: #1C0466;
    font-size: 1rem;
    height:3vh;
    background-color: #f75590;
    width:100vw;
}

nav:hover{
    height:10vh;
    font-size:4vh;
    background-color: #10ffcb;
 }
body{
    background-color: #10ffcb;
}

.grid-container{
    display: grid;
    grid:
    '. hfArea hfArea . '
    '. hfArea hfArea . '
    '. . myArea2 myArea2 '
    '. . myArea2 myArea2 ';
    grid-gap: 10px;
    background-color: #f75590;
    padding: 10px;
    width: 100%;
}

.grid-container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 2rem;
}

.small-grid-container {
    display: grid;
    grid:
    '. .'
    '. .'
    '. .'
    '. .';
    grid-gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
    justify-content: center;
}

.small-grid-container > div {
    text-align: center;
    padding: 10px 0 10px 0;
    font-size: 1.5rem;
    width: 15vw;
}

h1{
    font-size: 3.5rem;
    color: #1C0466;
}

h2{
    font-size: 3rem;
    color: #1C0466;
}

h3 {
    font-size: 2.5rem;
    color: #1C0466;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    width: 25rem;
}

h4{
    font-size: 2rem;
    color: #1C0466;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
   /* width: 30rem;*/
}
.box{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.box-large{
    max-width: 50vw;
}
.box-span{
    grid-area: hfArea;
    width:39vw;
}

.box-reference{
    grid-area: myArea2;
    width:39vw;
}
.border-celeste{
    border: 1px solid #b5f8fe ;
}

.color-v-red{
     /*violet red*/
     background-color: #f75590;
 }
.color-c-pink{
    /*champagne pink*/
    background-color: #fce4d8;
}

.color-Jasmine{
    /*Jasmine*/
    background-color: #fbd87f;
}

.color-celeste{
    /*  Celeste*/
    background-color: #b5f8fe;

}

.color-s-green-c{
    /*  Sea Green Crayola*/
    background-color: #10ffcb;
}

@media (max-width: 500px){
    h1{
        font-size: 1.5rem;
    }
    h2{
        font-size: 1rem;
    }

    h3 {
        font-size: 0.75rem;
    }

    h4{
        font-size: 0.5rem;
    }
}