body{
    background-color: #f75590;
}

.colors1{
    /*violet red*/
    background-color: #f75590;
  }

.colors2{
    /*champagne pink*/
    background-color: #fce4d8;
}

.colors2{
    /*Jasmine*/
    background-color: #fbd87f;
}

.colors2{
    /*  Celeste*/
    background-color: #b5f8fe;
}

.colors2{
    /*  Sea Green Crayola*/
    background-color: #10ffcb;
}