*{
    box-sizing: border-box;
    font-family: broadacre-regular-1, sans-serif;
    font-weight: 100;
    font-style: normal;
}
nav{
    display: block;
    color: #1C0466;
    font-size: 2.5rem;
}
body{
    background-color: #10ffcb;
}

.grid-container{
    display: grid;
    grid:
    '. hfArea hfArea . '
    '. hfArea hfArea . '
    '. . myArea2 myArea2 '
    '. . myArea2 myArea2 ';
    grid-gap: 10px;
    background-color: #f75590;
    padding: 10px;
}

.grid-container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 2rem;
}

.small-grid-container {
    display: grid;
    grid:
    '. .'
    '. .'
    '. .'
    '. .';
    grid-gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
    justify-content: center;
}

.small-grid-container > div {
    text-align: center;
    padding: 10px 0 10px 0;
    font-size: 1.5rem;
    width: 30rem;

}

header{
    color: #1C0466;
    font-size: 1.5rem;
    text-align: center;
}
h1{
    font-size: 5rem;
    color: #1C0466;
}

h2{
    font-size: 3rem;
    color: #1C0466;
}

h3 {
    font-size: 2.5rem;
    color: #1C0466;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    width: 25rem;
}

h4{
    font-size: 2rem;
    color: #1C0466;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    width: 30rem;
}
.box{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-large{
    max-width: 50vw;
}
.box-span{
    grid-area: hfArea;
}

.box-span2{
    grid-area: myArea2;
}
.border-celeste{
    border: 1px solid #b5f8fe ;
}

.color-v-red{
     /*violet red*/
     background-color: #f75590;
 }
.color-c-pink{
    /*champagne pink*/
    background-color: #fce4d8;
}

.color-Jasmine{
    /*Jasmine*/
    background-color: #fbd87f;
}

.color-celeste{
    /*  Celeste*/
    background-color: #b5f8fe;

}

.color-s-green-c{
    /*  Sea Green Crayola*/
    background-color: #10ffcb;
}