.navbar{
    color: #1C0466;
    font-size: 16px;
    height:70px;
    background-color: #f75590;
    width:100%;
    /* This navbar will always be at the top of the page when you scroll down */
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-evenly;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropbtn {
    background-color: #f75590;
    color: #1C0466;
    padding: 16px;
    font-size: 16px;
    border: none;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f75590;
    min-width: 160px;
    box-shadow: 0 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #1C0466;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #f75590;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #f75590;}


@media(min-width: 501px){
    .navbar{
        visibility: visible;
    }
}
@media (max-width: 500px){

    .navbar{
        visibility: hidden;
    }
}

